<div class="size-wrapper">
  <span class="size-span">Guide des tailles</span>
  <div>
    <div>
      {% render 'custom-close' %}
    </div>
    <img height="" width="" src="https://cdn.shopify.com/s/files/1/0601/7115/7755/files/image_61.png?v=1680528701">
  </div>
</div>
